#terrain {
  -fx-background-image: url("imgfond.jpg");
  -fx-background-color: #842e1b;
  -fx-background-repeat: no-repeat;
  -fx-background-position: 50% 50%;
  -fx-background-size: 100%;
}

#pause {
  -fx-background-color: #842e1b;
}

#menu {
  -fx-background-image: url("imgfond.jpg");
  -fx-background-color: #842e1b;
  -fx-background-repeat: no-repeat;
  -fx-background-position: 50% 50%;
  -fx-background-size: 100%;
}

#regles {
  -fx-background-image: url("spacebackground.png");
  -fx-background-repeat: NO-REPEAT;
  -fx-background-position: DEFAULT;
  -fx-background-size: DEFAULT;
}

#boutons {
    -fx-font-color: BLACK;
    -fx-background-color: transparent;
    -fx-font-size: 35px;
    -fx-font-family: Yrsa Medium;
    -fx-font-weight: bolder;
}

#boutons:hover {
  -fx-background-color: DARKGRAY;
}

#label2 {
  -fx-font-weight: bolder;
  -fx-font-size: 70px;
}
